@model SurveyResults

<div class="container">
    <h3>Results</h3>
    <hr class="border-primary">
    <p>Name: @Model.Name</p>
    <p>Location: @Model.Location</p>
    <p>Language: @Model.Language</p>
    <p>Comment: @Model.Comment</p>
    <a href="/">Go Back</a>
</div>