@model ViewModelFun.Models.Friend
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome @Model.FirstName @Model.LastName</h1>
    <p>Let's go to @Model.Location!</p>
</div>
