@model SurveyResults

<div class="container">
    <h3>Results</h3>
    <p>@Model.Name</p>
    <p>@Model.Location</p>
    <p>@Model.Language</p>
    <p>@Model.Comment</p>
    <a href="/">Go Back</a>
</div>